  body {
            background-color: #ffffff;
        }
        .container {
            max-width: 700px;
            background: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            color: #343a40;
            text-align: center;
        }
        h1 span {
            color: blue;
        }
        .btn-primary {
            width: auto;
            padding: 10px 20px;
            font-size: 16px;
        }
        table {
            width: 100%;
            margin-top: 20px;
            border-collapse: collapse;
        }
        thead {
            background: #f8f9fa;
            font-weight: bold;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
        th {
            border-bottom: 2px solid black;
        }
/* Your CSS Code here. */